/*@font-face {
  src: url("../fonts/Cairo-Regular.ttf");
  font-family: "main";
} */

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

:root {
  --dark-green: #38422a;
  --sout-orange: #e1723b;
  --beige-bg: #e2d9ca;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "cairo", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: var(--main);
  font-family: "cairo", sans-serif;
  background-color: var(--body);
  text-align: right;
  overflow-x: hidden;
  width: 100%;
}

a {
  text-decoration: none;
  color: white !important;
}

.text-dark {
  color: #222828 !important;
}

.font-bold {
  font-family: "main-bold", sans-serif;
}

/* Font Sizes */
.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-26 {
  font-size: 26px;
}

.font-28 {
  font-size: 28px;
}

.font-30 {
  font-size: 30px;
}

.font-color-green {
  color: #738c52 !important;
}

.navbar .container {
  /* max-width: 89%; */
  background-color: rgba(255, 255, 255) !important;
  border-radius: 0px 0px 10px 10px;
}

.navbar-collapse {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-face {
  background-color: #4c5c37;
  /* max-width: 89%; */
  border-radius: 10px 10px 0px 0px;
  margin-top: 10px;
}

.navbar,
.nav-face {
  position: relative;
  z-index: 10;
}

.navbar {
  background: transparent !important;
}

.custom-placeholder::placeholder {
  color: #acacac;
  opacity: 1;
}

.v-divider {
  width: 1px;
  height: 27px;
  background-color: #d6d6d6;
  align-self: center;
}

.rounded-nav {
  height: 40px;
  border-radius: 429px !important;
  width: 40px;
  font-size: 18px !important;
}

.fa-language {
  margin-right: -6px;
  margin-top: 2px;
}

.nav-content {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}

[dir="ltr"] .fa-language {
  margin-left: -2px !important;
  margin-top: 2px;
}

.rounded-pill {
  border-radius: 10px !important;
}

[dir="rtl"] .border-start-custom {
  border-left: 1px dashed #acacac;
}

[dir="ltr"] .border-start-custom {
  border-right: 1px dashed #acacac;
}

.main-header-wrapper {
  position: relative;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* اسود بشفافية 50% */
  z-index: 1;
  /* ليكون فوق الصورة */
}


.highlight-text {
  background-image: url(../images/stroke_peach_top_transparent.png);
  background-size: 100% 30%;
  background-repeat: no-repeat;
  background-position: center bottom;
  color: rgb(0, 0, 0);
  width: fit-content;
  margin: 0 auto;

}

.btn-dark-orange.saport {
  background-color: #738c52 !important;
}

.text-orange {
  color: #e1723b !important;
  font-weight: bold;
}

.btn-dark-green {
  background-color: #4a5738;
  color: white !important;
  border: none;
}

[dir="ltr"] .btn-dark-green .fa-arrow-left {
  transform: scaleX(-1);
}

[dir="ltr"] .btn-dark i {
  transform: scaleX(-1);
}

.btn-dark-orange {
  background-color: #e1723b;
  color: white !important;
  border: none;
}

.btn-dark-orange:hover {
  background-color: #d57c51;
}

.btn-dark-orange:active {
  background-color: #d57c51 !important;
}

.btn-dark-green:hover {
  background-color: #38422a;
  color: white;
}

.btn-dark-green:active {
  background-color: #38422a !important;
  color: white;
}


@keyframes scroll-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 40px));
  }
}

[dir="rtl"] .marquee-group {
  animation: scroll-right 20s linear infinite;
}

@keyframes scroll-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(100% + 40px));
  }
}


.owl-nav .arrow {
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: -15px;
}


.owl-nav {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  display: block !important;
}


.owl-nav button {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #738c52 !important;
  color: #fff !important;
  border-radius: 50%;
}

.owl-nav .owl-prev {
  right: -50px;
}

.owl-nav .owl-next {
  left: -50px;
}


.card {
  height: 200px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-nav2 .arrow {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: -10px;
}


.owl-nav2 {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  display: block !important;
}


.owl-nav2 button {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #333 !important;
  color: #fff !important;
  border-radius: 50%;
}

.owl-nav2 .owl-prev {
  right: -50px;
}

.owl-nav2 .owl-next {
  left: -50px;
}



.header-content .highlight-text {
  position: relative;
  display: inline-block;
}

.header-content .highlight-text::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: #ffb181;
  z-index: -1;
  opacity: 0.9;
}

.highlight-text-content-section {
  position: relative;
  display: inline-block;
}

.highlight-text-content-section::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 18px;
  background-color: #d1e095;
  z-index: -1;
  opacity: 0.9;
}

.newsletter-input input:focus {
  box-shadow: none;
}



.tab {
  font-size: 13px;
  padding: 4px 14px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #888;
  transition: all 0.2s;
}

.tab.active {
  background: white;
  color: #000000;
  font-weight: 700;
}



.reel-item {
  width: 100%;
  height: 100%;
  position: relative;
  scroll-snap-align: start;
  overflow: hidden;
  border-radius: inherit;
}

.reel-item video {
  width: 100%;
  object-fit: cover;
  display: block;
}

.reel-overlay {
  position: absolute;
  width: 100%;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 16px 12px; */
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      transparent 30%,
      transparent 60%,
      rgba(0, 0, 0, 0.7) 100%);
}

.reel-actions {
  display: flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 0;
  left: 12px;
  padding: 15px;
}

.reel-actions span {
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  transition: transform 0.2s;
  background: black;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.reel-actions span:hover {
  transform: scale(1.2);
}

.reel-actions small {
  font-size: 11px;
  color: #fff;
}

[dir="ltr"] .reel-info {
  direction: ltr;
  text-align: start;
}



.reel-item .play-overlay i {
  transition: opacity 0.2s;
}

.reel-item.playing .play-overlay {
  opacity: 0;
  pointer-events: none;
}

.reel-item:not(.playing) .play-overlay {
  opacity: 1;
  pointer-events: all;
}

.play-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}

.play-overlay i {
  background: #8e8e8e;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.reel-item:not(.playing) .play-overlay {
  opacity: 1;
}

.reel-item {
  width: 100%;
  height: 420px;
  position: relative;
  scroll-snap-align: start;
  overflow: hidden;
  flex-shrink: 0;
}

.reel-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.reel-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      transparent 30%,
      transparent 60%,
      rgba(0, 0, 0, 0.75) 100%);
  pointer-events: none;
}

/* ===== Play Overlay ===== */
.play-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.25s;
  pointer-events: all;
  /* منطقة الكليك فوق الـ overlay */
  z-index: 5;
}

.play-overlay i {
  background: rgba(0, 0, 0, 0.45);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  transition:
    background 0.2s,
    transform 0.2s;
}

.play-overlay i:hover {
  background: #e1723b;
  transform: scale(1.1);
}

.reel-item.playing .play-overlay {
  opacity: 0;
  pointer-events: none;
}

.reel-item:not(.playing) .play-overlay {
  opacity: 1;
  pointer-events: all;
}


.tab {
  font-size: 13px;
  padding: 4px 16px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #000000;
  font-weight: 700;
  transition: all 0.2s;
}

.tab.active {
  background: #fff;
  color: #000;
  font-weight: 700;
}


/* ===== Responsive ===== */
@media (max-width: 768px) {


  .owl-carousel .item {
    height: 500px;
    /* width: 410px; */
  }

  .owl-carousel .item a .main-container {
    height: 100%;
    width: auto;
  }

  .platform-sections .torn-top {
    position: absolute;
    width: 100%;
    height: 27%;
    top: -200px;
    left: 0;
    z-index: -1;
  }

  [dir="ltr"] .footer-links li a i,
  .contact-info p i {
    margin-right: 0.5rem !important;
  }
}


.main-links {
  margin-inline-start: -50px !important;
}


@media (max-width: 700px) {
  .sec {
    grid-template-columns: 1fr;
  }

}



.card {
  height: 200px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-nav2 .arrow {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: -10px;
}


.owl-nav2 {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  display: block !important;
}


/* تنسيق عام للأزرار */
.owl-nav2 button {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #333 !important;
  color: #fff !important;
  border-radius: 50%;
}

/* سهم اليسار */
.owl-nav2 .owl-prev {
  right: -50px;
  /* غير الرقم حسب المسافة اللي بدك ياها */
}

/* سهم اليمين */
.owl-nav2 .owl-next {
  left: -50px;
  /* غير الرقم حسب المسافة */
}

/* حاوية البطاقة الأساسية */
.main-container {
  width: 280px;
  cursor: pointer;
}

.footer-links a {
  text-decoration: none;
  color: #444;
  font-size: 0.95rem;
  transition: 0.3s;
}

.footer-links a:hover {
  color: var(--text-orange);
  padding-right: 5px;
  /* حركة خفيفة عند الوقوف على الرابط */
}


/* تعديل صندوق النشرة البريدية */
.newsletter-input input:focus {
  box-shadow: none;
}


@media (max-width: 768px) {
  .text-end {
    text-align: center !important;
  }

}

.video-card {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}



.font-color-green2 {
  color: #8eab67;
}

.font-color-olive {
  color: #4c5c37 !important;
}



/* footer */

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12rem;
  transition: 0.3s;
}

.footer-links a:hover {
  color: var(--text-orange);
  padding-right: 5px;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  transition: 0.3s;
}

.footer-links a:hover {
  color: var(--text-orange);
  padding-right: 5px;
}

.newsletter-input input:focus {
  box-shadow: none;
}


.title {
  font-size: 50px;
  text-align: center;
  color: #738c52;
  font-weight: bold;
}

.highlight {
  display: inline-block;
  text-align: center;
}

.box {
  width: 105%;
  height: 26px;
  background-color: #ead8b5;
  margin-top: -30px;
  margin-right: -6px;
}

:root {
  --main-green: #4c5c37;
  --light-bg: #f8f9fa;
}


/* لضمان ظهور المحتوى فوق الأوراق */
.container {
  position: relative;
  z-index: 10;
}


/* تنسيقات حقل الاشتراك - الزر على اليسار وحجم أصغر */
.custom-newsletter-input {
  position: relative;
  border-radius: 50rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 45px;
  /* تم تصغير الارتفاع من 60 إلى 45 */
  display: flex;
  align-items: center;
  max-width: 100%;
  /* تم تحديد عرض أقصى أصغر للانبوت */
  margin-right: 0;
  /* لضمان المحاذاة لليمين في الحاوية */
  /* margin-left: auto; */
}

/* الجزء البرتقالي انتقل لليسار (left: 0) */
.custom-newsletter-input::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* تم التغيير من right إلى left */
  bottom: 0;
  width: 20%;
  /* تصغير عرض الجزء الملون قليلاً */
  background: linear-gradient(to left, #e1723b 0%, #4c5c37 100%);
  z-index: 1;
}

/* الأيقونة انتقلت لليسار */
.custom-newsletter-input .newsletter-icon-wrapper {
  position: absolute;
  left: 0;
  /* تم التغيير من right إلى left */
  top: 0;
  bottom: 0;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: white;
  font-size: 1.1rem;
  /* تصغير حجم الأيقونة لتناسب الارتفاع الجديد */
}

/* تعديل حقل الإدخال */
.custom-newsletter-input input {
  width: 100%;
  height: 100%;
  padding-left: 25%;
  /* مسافة من اليسار مكان الزر */
  padding-right: 15px;
  /* مسافة النص من اليمين */
  border: none;
  background-color: transparent;
  font-size: 0.85rem;
  /* تصغير الخط قليلاً */
  color: #444;
  z-index: 3;
  text-align: right;
}

.custom-newsletter-input input:focus {
  box-shadow: none !important;
  outline: none !important;
}

/* التنسيق النهائي لملف الفوتر مع الخلفيات المتعددة في أماكنها الصحيحة */
.footer-custom-bg {
  background-color: #1b2614;
  /* اللون الزيتي الداكن */
  background-image:
    url("/assets/images/غيوم.png"),
    /* غيوم أعلى اليمين */
    url("/assets/images/شجرة\ زيتون.png"),
    /* شجرة زيتون أسفل اليمين */
    url("/assets/images/غيوم.png"),
    /* غيوم أعلى اليسار */
    url("/assets/images/عصافير.png");
  /* طيور مهاجرة أسفل اليسار */

  /* تحديد موقع كل صورة بدقة */
  background-position:
    top right,
    /* غيوم أعلى اليمين */
    bottom right,
    /* شجرة زيتون أسفل اليمين */
    top left,
    /* غيوم أعلى اليسار */
    bottom left 40px;
  /* طيور مهاجرة أسفل اليسار (مرفوعة قليلاً) */

  background-repeat: no-repeat;

  /* تحديد حجم الصور لتتناسب مع التوزيع */
  background-size:
    250px auto,
    /* غيوم اليمين */
    180px auto,
    /* شجرة الزيتون */
    220px auto,
    /* غيوم اليسار */
    130px auto;
  /* الطيور */

  position: relative;
  overflow: hidden;
  /* لمنع أي صورة من التمدد خارج عرض الصفحة */
  color: white;
}

/* التنسيق النهائي لأيقونات التحكم (القمر والصعود) بحدود ملونة */
.btn-control-custom {
  border: 1.8px solid #d37c4a !important;
  /* لون برتقالي ترابي مطابخ للصورة */
  color: #d37c4a !important;
  background: transparent;
  transition: 0.3s all ease;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* تأثير الـ Hover */
.btn-control-custom:hover {
  background: #d37c4a;
  color: white !important;
  transform: translateY(-3px);
}

/* content page */

.nav-pills .nav-link.active {
  background-color: #4C5C37 !important;
}

.nav-pills .nav-link {
  color: #a7a6a6;
  background-color: #a7a6a61f !important;
  white-space: nowrap;
  font-size: 15px;

}

.reel-item-size {
  width: 100%;
  height: 380px;
}

.time-video {
  background-color: rgba(0, 0, 0, 0.28);
}

.form-select {
  color: #a7a6a6;
  background-color: #a7a6a61f !important;
  white-space: nowrap;
  font-size: 15px;
}

.form-select:focus {
  border-color: #4C5C37;
  outline: 0;
  box-shadow: 0 0 0 0.25rem white;
}

.form-select option {
  font-size: 15px;
  font-weight: 500;
}

@media (min-width: 992px) {
  .col-lg-2-4 {
    width: 20%;
  }
}

/* -------------------------------------- */

.content {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/5771698600399277852.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

/* secrion 2 */

.most-watched-section {
  /* padding: 60px 0; */
  background-color: #fff;
}

/* سر الخروج عن الشاشة: المحاذاة مع الـ Container */
@media (max-width: 1200px) {
  .main-links {
    margin-inline-start: 0px !important;
  }
}

@media (max-width: 768px) {
  .footer-links li {
    margin-bottom: 10px !important;
  }

  .footer-stay-updated {
    text-align: center;
    margin-bottom: 10px !important;
  }

  .footer-subscribe {
    text-align: center;
    margin-bottom: 10px !important;
  }
}

.swiper {
  width: 100%;
  padding-top: 20px !important;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 350px;
  border-radius: 20px !important;
  overflow: hidden;
  transition: all 0.4s ease;
  position: relative;
}

/* الصورة الأساسية في المنتصف */
.swiper-slide-active {
  border: 3px solid var(--primary-color);
  transform: translateY(-10px);
  box-shadow:
    0 0 0 2px #fe712b,
    0 0 30px 5px #ff7420;
  border-color: transparent;
  transform: scale(1.05);
  z-index: 10;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* تنسيق أزرار التنقل */
.swiper-button-next,
.swiper-button-prev {
  color: var(--primary-color);
  background: rgba(255, 255, 255, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  backdrop-filter: blur(5px);
  margin-top: 25px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
  font-weight: bold;
}


/* ----- */
.most-watched-section {
  overflow-x: hidden;
  width: 100%;
}

.most-watched-section {
  /* padding: 80px 0; */
  position: relative;
}

/* حاوية السويبر - تبدأ مع محاذاة الكونتينر وتخرج من أقصى اليسار */
.swiper-outer-wrapper {
  position: relative;
}

.swiper {
  width: 100%;
  overflow: visible !important;
}

/* تنسيق كارد الفيديو */
.video-card {
  position: relative;
  border-radius: 20px !important;
  overflow: hidden;
  aspect-ratio: 9 / 16;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.reel-item-size {
  border-radius: 20px !important;
}

.video-card video {
  width: 100%;
  height: 100%;
}

/* تنسيق الأسهم (خاصة بالسويبر الثاني) */
.nav-btn {
  width: 40px;
  height: 40px;
  background: #4C5C37;
  border-radius: 50%;
  color: #fff !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 44%;
  transform: translateY(-50%);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.nav-btn:hover {
  /* background: var(--main-lime); */
  color: #fff !important;
}

.wasila {
  padding: 0px 185px !important;
}

/* السهم السابق (في RTL هو الذي على اليسار) */
.btn-prev-2 {
  left: 20px;
}

/* السهم التالي (في RTL هو الذي على اليمين) */
.btn-next-2 {
  right: 20px;
}

/* السهم السابق (في RTL هو الذي على اليسار) */
.btn-prev-3 {
  left: 20px;
}

/* السهم التالي (في RTL هو الذي على اليمين) */
.btn-next-3 {
  right: 20px;
}

/* إخفاء الأسهم الافتراضية لـ Swiper لعدم التداخل */
.swiper-button-lock {
  display: none !important;
}

.most-watched-swiper .swiper-slide-active {
  box-shadow:
    0 0 0 4px rgba(255, 106, 0, 0),
    0 0 35px 8px rgba(255, 106, 0, 0);
}

@media (min-width: 1200px) {
  .most-watched-swiper .swiper-slide {
    width: 17% !important;
    /* سيطبق فقط هنا */
    height: 10%;
    border-radius: 0px !important;
  }
}

/* ✅ تعديلات الجوال (Mobile Responsive) */
@media (max-width: 767px) {

  .member-photo-box {
    width: 115px;
    /* تصغير دائرة الصورة */
    height: 115px;
    top: 38px;
    /* إعادة ضبط مكان الصورة داخل المايك الصغير */
  }


  .footer-custom-bg {
    background: rgba(40, 52, 24, 1);
  }
}

@media (max-width: 767.98px) {
  .control-wrapper {
    margin-top: 15px;
    /* width: 100%; */
    justify-content: center;
    gap: 8px;
    flex-direction: column;
  }

  [dir="ltr"] .theme-toggle-and-up {
    position: fixed;
    bottom: 23px;
    right: 20px !important;
  }

  [dir="rtl"] .theme-toggle-and-up {
    position: fixed;
    bottom: 23px;
    left: 20px !important;
  }

  .control-wrapper .mb-2 {
    margin-bottom: 0 !important;
  }

  /* موازنة المسافات بين الأسطر في الجوال */
  .gy-4 {
    --bs-gutter-y: 1.5rem;
  }
}

/* رفع القمر فوق الخط في الشاشات الكبيرة فقط */
@media (min-width: 768px) {
  /* .control-wrapper {
    position: absolute;
    left: 15px;
    bottom: 24px;
  } */

  /* [dir="ltr"] .control-wrapper {
    position: absolute;
    right: -1100px;
    bottom: 7px;
  } */

  .control-wrapper button:first-child {
    margin-bottom: 8px !important;
    /* يرفعه فوق الـ hr */
  }
}

@media (max-width: 768px) {

  .owl-prev {
    margin-right: 50px !important;
  }

  .owl-next {
    margin-left: 50px !important;
  }

  .contact-info .justify-content-start {
    justify-content: center !important;
  }
}

@media (max-width: 768px) {
  .text-end {
    text-align: center !important;
  }

  .social-icons {
    justify-content: center;
  }




  .nav-face {
    display: none !important;
  }

  .font-mob-22 {
    font-size: 22px !important;
  }

  .wasila {
    padding: 0px 15px !important;
  }
}

@media (max-width: 991px) {
  .opinions-title {
    font-size: 1.8rem;
  }

  .user-opinions {
    margin-top: 100px;
  }

  .userOpenionNav {
    padding-bottom: 5px;
  }

  .searchDiv {
    margin-top: 20px;
  }

  .wasila {
    padding: 0px 15px !important;
  }
}

@media (max-width: 767px) {
  .textForOpenion .highlight-text {
    position: relative;
    display: block;
  }

  .wasila {
    padding: 0px 15px !important;
  }

  .textForOpenion .highlight-text::before {
    content: "";
    position: absolute;
    bottom: 14px;
    right: 0px;
    width: 43%;
    height: 20px;
    background-color: #4c5c37;
    z-index: -1;
    opacity: 0.9;
  }

  [dir="ltr"] .textForOpenion .highlight-text::before {
    content: "";
    position: absolute;
    bottom: 14px;
    right: 332px;
    width: 43%;
    height: 20px;
    background-color: #4c5c37;
    z-index: -1;
    opacity: 0.9;
  }


  .opinions-title {
    font-size: 1.4rem;
  }

  .user-opinions {
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .features-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .navbar .container {
    max-width: 90%;
  }

  .textForOpenion {
    max-width: 100%;
  }

  .textForOpenion .highlight-text {
    position: relative;
    display: block;
  }

  .textForOpenion .highlight-text::before {
    content: "";
    position: absolute;
    bottom: 14px;
    right: 0px;
    width: 40%;
    height: 20px;
    background-color: #4c5c37;
    z-index: -1;
    opacity: 0.9;
  }

  [dir="ltr"] .textForOpenion .highlight-text::before {
    content: "";
    position: absolute;
    bottom: 14px;
    left: 0px;
    width: 65%;
    height: 20px;
    background-color: #4c5c37;
    z-index: -1;
    opacity: 0.9;
  }
}

@media (max-width: 480px) {
  .textForOpenion .highlight-text {
    position: relative;
    display: block;
  }

  .textForOpenion {
    max-width: 100%;
  }

  .textForOpenion .highlight-text::before {
    content: "";
    position: absolute;
    bottom: 14px;
    right: 0px;
    width: 40%;
    height: 20px;
    background-color: #4c5c37;
    z-index: -1;
    opacity: 0.9;
  }

  [dir="ltr"] .textForOpenion .highlight-text::before {
    right: 210px;
  }


  .opinions-title {
    font-size: 1.2rem;
  }

  .heroOptionsBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.swiper {
  width: 100%;
  padding: 40px 0;
}

.navbar-nav .nav-link {
  position: relative;
}

.navbar-nav .nav-link.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 2px;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background: #4C5C37;
  border-radius: 2px;
}

.swiper-slide {
  width: 220px;
  height: 350px;
  border-radius: 16px;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[dir="ltr"] .theme-toggle-and-up {
  position: fixed;
  bottom: 23px;
  right: 50px !important;
}

[dir="rtl"] .theme-toggle-and-up {
  position: fixed;
  bottom: 23px;
  left: 50px;
}

[dir="ltr"] .footer-links li a i,
.contact-info p i {
  margin-right: 0.5rem !important;
}

@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255);
    border-radius: 0 0 10px 10px;
    /* box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12); */
    padding: 16px 22px 20px;
    z-index: 1050;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
  }

  .navbar-collapse.show,
  .navbar-collapse.collapsing {
    max-height: 80vh;
    overflow-y: auto;
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 992px) {
  .navbar-nav {
    text-align: center !important;
  }

  .nav-link,
  .nav-item,
  .navbar-nav {
    width: 100% !important;
  }

  .nav-item {
    background: rgba(199, 177, 177, 0.1);
    margin-bottom: 5px;
  }

  .navbar .container:has(.navbar-collapse.show),
  .navbar .container:has(.navbar-collapse.collapsing) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .search-input {
    width: 100%;
  }

  .nav-search-div {
    width: 100%;
  }

  .searchDiv {
    margin-top: 15px;
    justify-content: space-between !important;
    width: 100%;
  }

  .btn-prev-2 {
    left: 5px;
  }

  .btn-next-2 {
    right: 5px;
  }

  .btn-next-3 {
    right: 5px;
  }

  .btn-prev-3 {
    left: 5px;
  }

  .swiper-slide {
    height: 380px !important;
  }

}

.navbar-nav .nav-link.active {
  background: #4C5C37;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.breadcrumb-item.active {
  color: #FFB181 !important;
}

.breadcrumb-item+.breadcrumb-item::before {
  float: right;
  color: black;
  padding-left: var(--bs-breadcrumb-item-padding-x);
}

.text-nowrap {
  color: #5A5A5A;
}




/* الخلفية الداكنة الشاملة */
.video-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  /* درجة تباين داكنة ومريحة */
  z-index: 9999;
  /* للتأكد من ظهوره فوق كل عناصر الصفحة */
  display: none;
  /* مخفي افتراضياً */
  justify-content: center;
  align-items: center;
}

/* حاوية الفيديو المبرز */
.video-popup-content {
  position: relative;
  width: 90%;
  max-width: 270px;
  /* ليأخذ أبعاد الهواتف الذكية (Reels/Shorts) كما بالتصميم */
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

/* تنسيق الفيديو الداخلي */
.video-popup-content video {
  width: 100%;
  height: auto;
  display: block;
}

/* زر إغلاق الـ Popup */
.close-popup-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  border: none;
  font-size: 30px;
  line-height: 1;
  cursor: pointer;
  z-index: 10000;
  transition: background 0.3s;
}

.close-popup-btn:hover {
  color: #4C5C37;
}

.breadcrumb-item + .breadcrumb-item::before{
  color: white !important;
}